@model Data.Entities.Client
@{
    ViewBag.Title = "ManagerAddNewClient";
}
@Styles.Render("~/Content/css")
<html>
<head>
    <style>
        #create-div {
            position: absolute;
            left: 43%;
            top: 20%;
            border: 2px solid #ccc;
            padding: 10px 10px;
        }

        label {
            display: inline-block;
            width: 150px;
            margin-right: 30px;
            text-align: right;
        }

        input {
        }

        fieldset {
            border: none;
            width: 500px;
            margin: 0px auto;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;
        margin-left: 100px;">
        New Client
    </h1><br />
    @using (Html.BeginForm("ManagerAddNewClientSave", "Manager", Model))
    {

        <div id="create-div">
            <label for="capacity" style="margin-left: 10px">First name:</label>
            @Html.EditorFor(m => m.FirstName) <br />

            <label for="name" style="margin-left: 10px">Surename:</label>
            @Html.EditorFor(m => m.SureName) <br />

            <label for="midname" style="margin-left: 10px">E-mail:</label>
            @Html.EditorFor(m => m.Email) <br />

            <label for="surename" style="margin-left: 10px">Phone number:</label>
            @Html.EditorFor(m => m.Number) <br />

            <label for="surename" style="margin-left: 10px">Is over 18:</label>
            @Html.CheckBoxFor(m => m.Adult) <br /><br />

            <input type="submit" name="submitclientinfo" value="Save Client" style="margin-left:40px" />
        </div>
    }
</body>
</html>

